<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodingTracker.View.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CodingTracker.View.Properties.Settings>
            <setting name="VideoPath" serializeAs="String">
                <value>"C:\Users\mchap\source\repos\CodingTrackerSolutionClone2\CodingTracker.View\FormMedia\PcScreenPixelArt.mp4"</value>
            </setting>
        </CodingTracker.View.Properties.Settings>
    </applicationSettings>
</configuration>